@(inscriptions: List[Inscription], message: String)

@import helper._
@import helper.twitterBootstrap._

@main(title = "Agile Tour Montpellier 2012") {
    
			<h2>Administration</h2>
			<form id="formSelection">
			<table class="table table-striped">
				<caption>Liste des inscrits</caption>
				<thead>
					<tr>
						<th></th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Email</th>
						<th>Twitter</th>
					</tr>
				</thead>
				<tbody>
					@for(inscription <- inscriptions) {
					  <tr>
					  	<td><input type="checkbox" class="checkSelection" name="nameSelected_@inscription.getId()" /></td>
					  	<td>@inscription.getNom()</td>
					  	<td>@inscription.getPrenom()</td>
					  	<td>@inscription.getEmail()</td>
					  	<td>@inscription.getTwitter()</td>
					  </tr>
					} 
				</tbody>
			</table>
			</form>
			
			<div class="btn-toolbar">
			  <div class="btn-group">
			    <button class="btn" id="generateBadge">Générer badge</button>
			    <button class="btn" id="updateInscriptions">Mettre à jour les inscriptions</button>
			  </div>
			  
			</div>
			
			<div id="dialog" title="Basic dialog">
    			<p>@message</p>
			</div>
    		
    		<script type="text/javascript">
				$(document).ready(function() {
					$("#generateBadge").click(function(){						
						$("#formSelection").attr("action", "/admin/badge");
						$("#formSelection").attr("method", "POST");
						$("#formSelection").submit();
					});
					
					$("#updateInscriptions").click(function(){						
						$("#formSelection").attr("action", "/admin/inscriptions");
						$("#formSelection").attr("method", "POST");
						$("#formSelection").submit();
					});
					
					if ('@message' != '') {
						$("#dialog").dialog({
							buttons: {
								Ok: function() {
									$(this).dialog( "close" );
								}
							}
						});
					}
				});
				
				
			</script>
}