@(inscriptions: List[Inscription])

@import helper._
@import helper.twitterBootstrap._

@main(title = "Agile Tour Montpellier 2012") {
    
			<h2>Administration</h2>
			<form id="formSelection" method="POST">
			<table class="table table-striped">
				<caption>Liste des inscrits</caption>
				<thead>
					<tr>
						<th></th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Email</th>
						<th>Twitter</th>
					</tr>
				</thead>
				<tbody>
					@for(inscription <- inscriptions) {
					  <tr>
					  	<td><input type="checkbox" class="checkSelection" name="nameSelected_@inscription.getId()" /></td>
					  	<td>@inscription.getNom()</td>
					  	<td>@inscription.getPrenom()</td>
					  	<td>@inscription.getEmail()</td>
					  	<td>@inscription.getTwitter()</td>
					  </tr>
					} 
				</tbody>
			</table>
			</form>
			
			<div class="btn-toolbar">
			  <div class="btn-group">
			    <button class="btn" id="generateBadge">Générer badge</button>
			  </div>
			  
			</div>
    		
    		<script type="text/javascript">
				$(document).ready(function() {
					$("#generateBadge").click(function(){
						//var selectedArray = $(".checkSelection:checked").map(function() {
  												//return this.name.replace("nameSelected_", "");
											//});						
						//$.post('admin/badge', selectedArray, function(retData){
 							//$("body").append("<iframe src='/admin/tmp/" + retData + "' style='display: none;' ></iframe>");
						//});
						
						$("#formSelection").attr("action", "/admin/badge");
						$("#formSelection").submit();
					});
				});
			</script>
}