@(inscriptionForm: Form[Inscription], message: String)

@import helper._
@import helper.twitterBootstrap._

@implicitField = @{ FieldConstructor(bootstrapInput.f)} 

@main(title = "Agile Tour Montpellier 2012") {
    
			<div class="hero-unit">
			    <h1>Agile Tour Montpellier 2012</h1>
			    <p>Bienvenue dans le formulaire d'inscription de l'Agile Tour Montpellier 2012</p>
			</div>
			<div>
			
		@if(message != "") {
		
			<h2>@message</h2>
		
		} else {
			@helper.form(action = routes.Application.submit(), 'method -> "POST", 'id -> "inscription", 'class -> "form-horizontal") {
        
		        <fieldset>
		            <legend>General informations</legend>
		            
		            @inputText(
		                inscriptionForm("nom"), 
		                '_label -> "Nom"
		            )
		            
		            @inputText(
		                inscriptionForm("prenom"), 
		                '_label -> "Prénom"
		            )
		            
		            @inputText(
		                inscriptionForm("email"), 
		                '_label -> "Email"
		            )
		            
		            @inputText(
		                inscriptionForm("twitter"), 
		                '_label -> "Compte Twitter"
		            )
		            
		            @inputText(
		                inscriptionForm("entreprise"), 
		                '_label -> "Entreprise"
		            )
		            
		            @inputText(
		                inscriptionForm("fonction"), 
		                '_label -> "Fonction"
		            )
		            
		            @select(
			            field = inscriptionForm("niveauAgile"), 
			            options = options(
			                "" -> "Sélectionnez...",
			                "debutant" -> "Débutant",
			                "pratiquant" -> "Pratiquant",
			                "confirme" -> "Confirmé"
			            ),
			            args = '_label -> "Votre expérience de l'Agilité"
			        )
		            
		                                    
		        </fieldset>
		        
		        <div class="actions">
		            <input type="submit" class="btn primary" value="M'Inscrire">
		        </div>
		        
		    }
		  }
				
			</div>
    
}