@(loginForm: Form[Application.Login], message: String)

@import helper._
@import helper.twitterBootstrap._ 

@implicitField = @{ FieldConstructor(bootstrapInput.f)} 

@main("Agile Tour Montpellier 2012", null) {
		
			<div>
			@helper.form(action = routes.Application.authenticate(), 'method -> "POST", 'id -> "login", 'class -> "form-horizontal") {
        
		        <fieldset>
		            <legend>General informations</legend>
					@inputPassword(
		                loginForm("password"), 
		                '_label -> "Password"
		            )
            	</fieldset>
                <div class="actions">
		            <input type="submit" class="btn primary" value="Me Loguer">
		        </div>	
		    }
		        <div>@message</div>			
			</div>
    
}