@(inscriptionId: Integer)

<!DOCTYPE html>

<html>
    <head>
        <title>PDF Sample</title>
        <link rel="stylesheet" href="/public/stylesheets/main.css"/>
    </head>
    <body>
	    Image: <img src="/public/images/favicon.png"/><br/>
	    Hello world! <br/>
	     <br/>
	     	@inscriptionId
	     <br/>
	    <div class="blue">
	    	This is blue text
	    </div>
		<table border="1">
			<tr>
				<td>1</td>
				<td>2</td>
			</tr>
			<tr>
				<td>3</td>
				<td>
					<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Datamatrix.svg/220px-Datamatrix.svg.png" />
				</td>
			</tr>
		</table>
    </body>
</html>